@page "/"
@using EstEID.Blazor.Services
@using EstEID.Blazor.Models
@inject EventService EventService

@if (personData != null)
{
    <div>
        @personData.IdCode
        <br>
        @personData.FirstName
        <br>
        @personData.LastName
    </div>
}
else {
    <div>Waiting</div>
}

@code {
    private PersonData personData;
    protected override void OnInitialized()
    {
        EventService.UiUpdater += UpdateUI;
    }

    private void UpdateUI(object sender, PersonData e)
    {
        personData = e;
        InvokeAsync(() => StateHasChanged());
    }
}    